@{
    Layout = null;
    IMS.Models.Project projet = Model as IMS.Models.Project;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/content/css/layui.css" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body style="margin:20px;">
    <form class="layui-form" action="">
        <input type="hidden" value="@projet.Id" name="Id" />
        <div class="layui-form-item">
            <label class="layui-form-label">村庄</label>
            <div class="layui-input-block">
                <input type="text" name="VillageName" value="@projet.VillageName" lay-verify="required" autocomplete="off" placeholder="请输入村庄" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">签约名次</label>
            <div class="layui-input-block">
                <input type="text" name="SignSort" value="@(projet.SignSort)" lay-verify="required" placeholder="请输入签约名次" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">户主姓名</label>
            <div class="layui-input-block">
                <input type="text" name="HouseHolderName" value="@projet.HouseHolderName" lay-verify="required" placeholder="请输入户主姓名" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">门牌号</label>
            <div class="layui-input-block">
                <input type="text" name="HouseNumber" value="@projet.HouseNumber" lay-verify="required" placeholder="请输入门牌号" autocomplete="off" class="layui-input">
            </div>
        </div>
       
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    <script src="/scripts/jquery-1.10.2.min.js" charset="utf-8"></script>
    <script src="/content/layui.js" charset="utf-8"></script>

    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
    <script>
        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;


            //监听提交
            form.on('submit(demo1)', function (data) {
                if (data.field.Id > 0) {
                    $.post("/home/edit", data.field, function (data) {
                        if (data && data.code == 0) {
                            layer.alert("修改成功", { title: '提示' }, function () {
                                window.parent.location.reload();
                            })
                        } else {
                            layer.alert(data.msg, { title: '提示' })
                        }
                    })
                    return false;
                }

                $.post("/home/add", data.field, function (data) {
                    if (data && data.code == 0) {
                        layer.alert("添加成功", { title: '提示' }, function () {
                            window.parent.location.reload();
                        })
                    } else {
                        layer.alert(data.msg, { title: '提示' })
                    }
                })

                //layer.alert(JSON.stringify(data.field), {
                //  title: '最终的提交信息'
                //})
                return false;
            });


        });
        $(function () {
            $.ajaxSetup({ cache: false });
        })
    </script>
</body>
</html>